<div class="social">
    <ul>
        <li>
            <a href="https://github.com/enigmasheet" target="_blank" aria-label="GitHub">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/abhaykumarmandal/" target="_blank" aria-label="LinkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="mailto:abhaymandal321@gmail.com" aria-label="Email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="~/data/resume.pdf" target="_blank" aria-label="Resume">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://roadmap.sh/u/devabhay" target="_blank" aria-label="Roadmap.sh">
                <i class="fa fa-map-signs"></i>
            </a>
        </li>
    </ul>
</div>